@model ChatApp.Models.AppUser
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome to my chat application.</h1>
        <p>
            This website allows users to create an account and chat with other users in real time.<br />
            The register and login features use ASP.NET Identity<br />
            SignalR is used to allow users to send and recieve messages in real time.<br />
            Users can search for chatrooms to join, or create their own chatrooms and add disired users to the chatroom.<br />
            The creator of a chatroom is the admin and can perform various actions on the chatroom.
        </p>
        <h4>Please Register and/or Login to continue</h4>
    </div>
}
else
{
    <!--CREATE CHATROOM POPUP-->
    <div class="modal fade bg-dark bg-transparent" id="newChatroomModal" tabindex="-1" role="dialog" aria-labelledby="newChatroomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Chatroom</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createChatroomForm">
                        <div class="row justify-content-center">
                            <label>Public</label>
                            <input id="isPublic" name="isPublic" type="radio" style="margin-right: 15px; margin-left: 5px;" value="Public">
                            <label>Private</label>
                            <input id="isPublic" name="isPublic" type="radio" style="margin-left: 5px;" value="Private">
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" name="chatroomName" class="bg-dark text-white" style="border-radius: 10px;" placeholder="Chatroom Name" />
                        </div>
                        <div class="row justify-content-center">
                            <input type="text" id="txtSearchUsers" name="username" class="bg-dark text-white" style="border-radius: 10px; margin-top:10px;" placeholder="Chatroom member" />
                        </div>
                        <div id="addMemberBtn" class="row justify-content-center">
                            <button type="button" class="btn btn-link">Add another member</button>
                        </div>
                        <div class="row justify-content-center">
                            <input id="createChatroomBtn" type="submit" class="btn btn-primary" data-dismiss="modal" value="Create" />
                            <button type="button" class="btn btn-secondary offset-1" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--CHATROOM LIST-->
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat">
                <div class="card mb-sm-3 mb-md-0 contacts_card">
                    <div class="card-header">
                        <div class="input-group">
                            <input id="txtSearchChatrooms" type="text" placeholder="Search Chatrooms..." name="" class="form-control search">
                        </div>
                    </div>
                    <div class="card-body contacts_body">
                        <ui class="contacts">
                            @foreach (Chatroom room in Model.Chatrooms)
                            {
                                <li class="chatroomListItem" style="border-bottom-style:solid; border-bottom-color: lightslategrey; border-bottom-width: 1px;">
                                    <div class="d-flex bd-highlight">
                                        <div class="user_info col-11">
                                            <input type="hidden" class="chatroom_id" value="@room.ChatroomId" />
                                            <div class="row col-12">
                                                <span id="chatroom-name">@room.ChatroomName</span>
                                            </div>
                                            @if (room.Messages.Count > 0)
                                            {
                                                <p id="msg-preview-txt-@room.ChatroomId" class="message-text-preview">@room.Messages[room.Messages.Count - 1].Text</p>
                                                <p id="msg-preview-sent-@room.ChatroomId">@room.Messages[room.Messages.Count - 1].Sent</p>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ui>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-primary rounded-pill" style="border-radius: 40px;" data-toggle="modal" data-target="#newChatroomModal">Create new chatroom</button>
                    </div>
                </div>
            </div>
            <!--CHATROOM-->
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="user_info">
                                <span class="chat_chatroom_name"></span>
                                <p class="message_count" style="margin-bottom: 0;"></p>
                                <p class="members_count"></p>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <!--add these after display chatroom is called-->
                                <li><i class="fas fa-trash"></i> Delete chatroom</li><!--admin-->
                                <li><i class="fas fa-ban"></i> Block user</li><!--admin-->
                                <li><i class="fas fa-users"></i> Invite users</li><!--all users unless private chatroom-->
                                <li><i class="fas fa-sign-out-alt"></i> Leave chatroom</li><!--all users-->
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        <!--messages go here-->
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <textarea name="new-message" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span id="send-msg-btn" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="active_user_id" value="@Model.Id" />
    <input type="hidden" id="active_username" value="@Model.UserName" />
    <input type="hidden" id="active_chatroom_id" />
    @section Scripts
    {
        <script src="~/lib/moment.js/moment.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    }
}
